.App {
  padding: 20px;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filterPanel {
  height: 56px;
  background: white;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.filterItem {
  height: 32px;
  background: white;
  border-radius: 100px;
  border: 1px solid grey;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 8px;
}